.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 130%;
    text-align: left;
    letter-spacing: 1px;
    padding-inline-start: 3%;
    
  }